/*This file is for the CSS of this project*/

/* ================= General ================= */
* {
    font-family: Arial, Helvetica, Verdana;
}

p {
    text-indent: 2em;
}

body {
    background-color: whitesmoke;
    margin-left: 60px;
    margin-right:60px;
}

h1{
}

nav{
    border: solid maroon;
    border-width: 2px 0px 2px 0px;
    border-radius: 0px;

}
nav ol li {
    display: inline-block;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    border-width: 1px; 
}
nav a{
    color:black;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-transform:none;

}


/*Stuff for home page*/
.Recipe{
    float:left;
    max-width:40%;
    max-height:40%;
    margin:5px;
}

img{
  max-width:100%;
  max-height:100%;
}

#content {
    overflow: auto;
}

#nav, #across {
    margin:1%;
}

.col1, .col2{
    width: 47%;
    float:left;
    margin: 1%;
}

#across, .article{
    height: 10em;
    margin-bottom: 1em;
    background-color:ivory;
}
/*End stuff for home page*/
