/*This file is for the CSS of this project*/

/* ================= General ================= */
div {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
        text-indent: 2em;
}
p {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
        text-indent: 2em;
}
body {
    background-color: white;
    margin-left: 60px;
    margin-right:60px;
}

h1{
	text-align: center;
}





/* ================= Navigation ================= */
nav ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

nav ol li {
    display: inline-block;
    padding: 0px;
    margin: 0px 30px 0px 30px;
    border-width: 1px; 
	float: left;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
}

nav li a:hover {
	background-color:none;
}

nav a:hover {
	color: #b6c58a;
}
nav a{
     font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
        text-indent: 2em;
}

/* ================= Form Section ================= */
#form form{
    font: bold 0.6em Arial,Helventica,sans-serif;
    max-width: 38em;
    margin: auto;
}
fieldset{
    border:2px solid #b6c58a;
    clear: both;
    margin-top: 2em;
    padding: 1em;
}

.form-heading {
    font-style: italic;
}
.check-field{
    margin: 0 0 1.25em 7.5em;
}

.radio-field{
    margin: 0 0 1.25em 7.5em;
}

.text-field{
    display: block;
    float: left;
    margin: 0 0.5em 0 1.2em;
    padding-right: 0.5em;
    padding-top: 0.75em;
    text-align: center;
    width: 7em;
}

#form input:focus,
#form textarea:focus,
#form select:focus{
    border: 1px solid #0C0
}

input[type=submit] {
    width: 100%;
    background-color: #505c2e;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

select {
    width: 85%;
    padding: 18px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=text] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}
/* form error section */
.mistake {
    color: #fff;
    background-color: #800;
    border: thin solid #000;
}

#errors ol li{
    color: #ff5555;
}
/*For home page*/
.Recipe{
    float:left;
    max-width:40%;
    max-height:40%;
    margin:5px;
}

img{
    width:400;
    height:300;
    max-width:100%;
    max-height:100%;
    border-radius:10px;
    margin: auto;
        display: block;
}

.col1, .col2{
    width: 47%;
    float:left;
    margin: 1%;
}

div {
    height:450;
    overflow: none;
    background-color: #b6c58a;
    display: block;
    margin: auto;
}


.Recipe{
    margin-right: 10;
    
}

#content div{
    height:120;
    overflow: auto;

    
}


.HomeImg{

    height:200%;
    
}
div#HomeImg{
    width:100%;
    height:300;
    
}
#homeImg img{
    width:1000px;
}
div#across{
    margin:1em 2em 0 2em;
}
.title{
    height:100px;
}

.left{
    margin:10px 80px 10px 60px;
    
}
.right{
    margin:10px 0px 10px 20px;
}

div#content{
    border-radius: 2em;
    margin-bottom: 2em;
}
div.title.across{
    border-radius: 2em 2em 0 0;
}
div#content{
    padding-bottom: 2em;
margin-bottom: 2em;
    height: 520;
}

div#across{
    padding-bottom: 2em;
    padding-top: 2em;
    height: 160px;
}
/*End for home page*/


#baking,#cooking {
	margin: auto;
}

#baking figure img,#baking div ,#cooking figure img,#cooking div {
	margin: auto;
	display:block;
}

#baking p,#cooking p{
	margin: auto;
    padding: 2em;
	display:block;
	text-align:left;

}
#baking img,#cooking img{
    border-radius: 0;
	width: 80%;
}

#baking h2,#cooking h2{
    font-family:serif;
    text-align: center;
    font-weight: normal;
    color: black;
    font-size:24pt;
    position: relative;

}
#baking article h2:before,#baking h2:after,#cooking article h2:before,#cooking h2:after{
    height:2px;
    background: gray;
    width:100%;
    top:46%;
    position: absolute;
    content: "";
    display: block;
}
#baking article h2:before,#cooking article h2:before{
    right: 50px;
    width:290px;
    margin-right: -10px;
}
#baking article h2:after,#cooking article h2:after{
	left: 50px;
    width:290px;
    margin-left: -10px;
}

#baking h3,#cooking h3{
    font-family:serif;
    font-style: italic;
    text-align: center;
    font-weight: normal;
    color: black;
    font-size:12pt;
    position: relative;

}
#baking div,#cooking div{
    width: 80%;
    background-color: #b6c58a;
	margin-bottom: 3em;
    margin-top: 3em;
    border-radius: 2em;
}

#baking #head,#cooking #head  {
	background-color: white;
    text-align: center;
}
#baking #head h4,#cooking #head h4  {
    color:black;
    font-family: serif; 
	font-size: 40px;
    margin: 0px;
    text-align: center;
}

	div ol{
    margin: 0 0 0 4em;
}

#cooking p{
    padding:1em;
    margin: 0 1em 0 1em;
}

div#space{
margin:0em 0em -2em 190em;

}

/*Begin about page*/
div#about{
    border-radius: 10px;
}
div#about p{
    padding: 20px;
}
div#col{
    float: left;
    width: 30%;
    margin: 10px 10px 10px 25px;
    border-radius: 10px;
}

img#portrait{
    margin-top: 1em;
    border-radius: 0;
}

div#col p{
    padding: 5px;
}

.ingredient{
    float:left;
    max-width:22%;
    margin:15px;
}

img.Ingredient{
    height: 180px
}

div#space{
    height:2em;
}
div.cooking{
    height:4em;
    border-radius: 2em 2em 0em 0em;
}
div.bottomrow{
    border-radius: 0em 0em 2em 2em;
}
div.cooking.title h2{
text-align: center;
}



header#header img{
    height: 7em;
    width: 22em;
}
div#content img{
    width: 1100px;
}
div.row{
    height:520px;
    overflow: none;
    background-color: #b6c58a;
    display: block;
    margin: auto;
}
div.row figure{
    display: block;
}
div#essentials.row{
    height: 570px;
}
div#essentials.row:nth-child(4n-1){
    border-radius: 2em 2em 0em 0em;
}
div#essentials.row:nth-child(3n+2){
    border-radius: 0em 0em 2em 2em;
}
