/*This file is for the CSS of this project*/

/* ================= General ================= */
* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, Verdana;
}

p {
    text-indent: 2em;
}

body {
    background-color: white;
    margin-left: 60px;
    margin-right:60px;
}

h1{
	text-align: center;
}
/* ================= Navigation ================= */
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

nav ol li {
    display: inline-block;
    padding: 0px;
    margin: 0px 65px 0px 65px;
    border-width: 1px; 
	float: left;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
}

li a:hover {
	background-color:none;
}

nav a{
    color:black;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-transform:none;

}


/*For home page*/
.Recipe{
    float:left;
    max-width:40%;
    max-height:40%;
    margin:5px;
}

img{
    width:400;
    height:300;
    max-width:100%;
    max-height:100%;
    border-radius:10px;
    margin: auto;
        display: block;
}

.col1, .col2{
    width: 47%;
    float:left;
    margin: 1%;
}

div {
    height:450;
    overflow: none;
    background-color: lightgray;
    display: block;
    margin: auto;
}


.Recipe{
    margin-right: 10;
    
}

#content div{
    height:120;
    overflow: auto;

    
}


.HomeImg{

    height:200%;
    
}
div#HomeImg{
    width:100%;
    height:300;
    
}
#homeImg img{
    width:1000px;
}
div#across{
    margin:1em 2em 0 2em;
}
.title{
    height:100;
}

.left{
    margin:10 80 10 60;
    
}
.right{
    margin:10 0 10 20;
}

div#content{
    border-radius: 2em;
    margin-bottom: 2em;
}
div.title.across{
    border-radius: 2em 2em 0 0;
}
div#content{
    padding-bottom: 2em;
margin-bottom: 2em;
    height: 520;
}

div#across{
    padding-bottom: 2em;
    padding-top: 2em;
    height: 140;
}
/*End for home page*/


#baking,#cooking {
	margin: auto;
}

#baking figure img,#baking div ,#cooking figure img,#cooking div {
	margin: auto;
	display:block;
}

#baking p,#cooking p{
	margin: auto;
    padding: 2em;
	display:block;
	text-align:left;

}
#baking img,#cooking img{
    border-radius: 0;
	width: 80%;
}

#baking h2,#cooking h2{
    font-family:serif;
    text-align: center;
    font-weight: normal;
    color: black;
    font-size:24pt;
    position: relative;

}
#baking article h2:before,#baking h2:after,#cooking article h2:before,#cooking h2:after{
    height:2px;
    background: gray;
    width:100%;
    top:46%;
    position: absolute;
    content: "";
    display: block;
}
#baking article h2:before,#cooking article h2:before{
    right: 740px;
    margin-right: -100px;
}
#baking article h2:after,#cooking article h2:after{
    left: 740px;
    margin-left: -100px;
}

#baking h3,#cooking h3{
    font-family:serif;
    font-style: italic;
    text-align: center;
    font-weight: normal;
    color: black;
    font-size:12pt;
    position: relative;

}
#baking div,#cooking div{
    width: 80%;
    background-color: rgba(210, 208, 208, 0.55);
	margin-bottom: 3em;
    margin-top: 3em;
    border-radius: 2em;
}

#baking #head,#cooking #head  {
	background-color: white;
    text-align: center;
}
#baking #head h4,#cooking #head h4  {
    color:black;
    font-family: serif; 
	font-size: 40px;
    margin: 0px;
    text-align: center;
}




